<div class="progress" *ngIf="onProgress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0"
        aria-valuemax="100" style="width: 100%">
    </div>
</div>
<h3>{{ title }}</h3>
<table class="table">
    <thead style="font-size: 12px;">
        <tr>
            <th style="text-align:left;">Product</th>
            <th style="text-align:right">Ori. Price</th>
            <th style="text-align:right">Price</th>
            <th style="text-align:right">Quantity</th>
            <th style="text-align:right">Amount</th>
        </tr>
    </thead>
    <tbody *ngFor="let order of orders">
        <tr style="background: #e0e0e0; border-bottom: 2px solid #dddddd">
            <td style="font-weight: bold; font-size: 13px;" colspan="4">{{formatDate(order.createdAt)}}.
                Ref:
                {{order.ref}}</td>
            <td style="font-weight: bold; float: right; font-size: 13px;">{{formatUang(order.total)}}</td>
        </tr>
        <tr *ngFor="let product of order.products">
            <td>{{product.name}}</td>
            <td style="text-align:right">{{setFormat(product.price)}}</td>
            <td style="text-align:right" [ngStyle]="{'background-color': getProductPrice(product._id) > product.price ? '#b8ff4d' : (product.price === getProductPrice(product._id) ? 'transparent' : '#ffff4d')}">{{setFormat(getProductPrice(product._id))}}</td>
            <td style="text-align:right">{{product.qty}}</td>
            <td style="text-align:right">{{setFormat(product.total)}}</td>
        </tr>
    </tbody>
    <tbody>
        <tr style="background: #e0e0e0">
            <td style="foat:left; font-weight: bold; font-size: 13px;" colspan="3">GrantTotal</td>
            <td style="font-weight: bold; text-align: right; font-size: 13px;">{{totalQty}}</td>
            <td style="font-weight: bold; text-align: right; font-size: 13px;">{{grantTotal}}</td>
        </tr>
    </tbody>
</table>