th {
    text-align: center;
    font-size: 12pt;
}
td.gt {
    background-color: greenyellow;
}

td.lt {
    background-color: yellow;
}

td.number {
    text-align: right;
}

tr.reference, tfoot {
    background-color: gainsboro;
    font-weight: bold;
}