<div class="progress" *ngIf="onProgress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0"
    aria-valuemax="100" style="width: 100%">
  </div>
</div>
<h3>{{ title }}</h3>
<input type="button" value="Create New" class="btn btn-success" (click)="onCreate(template)"> &nbsp;
<div class="input-group">
  <input class="input search" (keyup)="searchProduct($event)" type="search" name="search" id="search" placeholder="Search product here...">
  <input class="input btn-search" type="button" value="Search" />
</div>
<table class="table">
  <thead>
    <tr>
      <th style="width: 15%">Initial</th>
      <th style="width: 15%">Category</th>
      <th style="width: 15%">Name</th>
      <th style="width: 30%">Description</th>
      <th style="width: 10%; text-align: right">Price</th>
      <th style="text-align:center">Active</th>
      <th style="text-align:center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td style="width: 15%">{{ product.initial }}</td>
      <td style="width: 15%"> {{ getCategorybyId(product.categoryId)}}</td>
      <td style="width: 15%">{{ product.name }}</td>
      <td style="width: 30%">{{ product.description }}</td>
      <td style="width: 10%; text-align: right">{{setFormat(product.price)}}</td>
      <td style="text-align:center">
        <input type="checkbox" name="active" class="form-check-input" [(ngModel)]="product.active" disabled="disabled">
      </td>
      <td style="text-align:center">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-warning" title="Edit" (click)="onEdit(product._id, template)">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-danger" title="Delete" (click)="onDelete(product._id, template)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </button>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="7" style="text-align: right">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </td>
    </tr>
  </tbody>
</table>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ business }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-horizontal">
      <div class="form-group">
        <label for="initial" class="control-label col-md-3">Category</label>
        <div class="col-md-9">
          <select class="form-control single-line" [(ngModel)]="product.categoryId" [disabled]="disabled">
            <option *ngFor="let category of categories" [value]="category._id">{{category.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="initial" class="control-label col-md-3">Initial</label>
        <div class="col-md-9">
          <input type="text" name="intial" class="form-control text-box single-line" [(ngModel)]="product.initial"
            [disabled]="disabled">
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="control-label col-md-3">Name</label>
        <div class="col-md-9">
          <input type="text" name="name" class="form-control text-box single-line" [(ngModel)]="product.name"
            [disabled]="disabled">
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="control-label col-md-3">Description</label>
        <div class="col-md-9">
          <input type="text" name="description" class="form-control text-box single-line" [(ngModel)]="product.description"
            [disabled]="disabled">
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="control-label col-md-3">Price</label>
        <div class="col-md-9">
          <input type="number" placeholder="0" name="price" class="form-control text-box single-line" [(ngModel)]="product.price"
            [disabled]="disabled">
        </div>
      </div>
      <div class="form-group">
        <label for="checkbox" class="control-label col-md-3">Active</label>
        <div class="col-md-9">
          <input type="checkbox" name="active" [(ngModel)]="product.active" [disabled]="disabled">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style="text-align: right">
          <input type="button" value="Cancel" class="btn btn-default" (click)="modalRef.hide()">&nbsp;
          <input type="button" value="Save" class="btn btn-success" (click)="onSave()">
        </div>
      </div>
    </div>
  </div>
</ng-template>