<form (submit)="loginUser($event)">
    <div class="form-group">
        <label for="usr">Name:</label>
        <input type="text" class="form-control" id="username" placeholder="Masukkan username Anda">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Masukkan password Anda">
      </div>
      <div class="form-group" style="text-align:right">
          <button type="submit">Login</button>
      </div>
</form>