<div class="container theme-showcase">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">
          <img src="favicon.ico" alt="" class="logo">
        </a>
        <span class="navbar-brand">{{ title }}</span>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="">Home</a>
        </li>
        <li>
          <a routerLink="/category">Category</a>
        </li>
        <li>
          <a routerLink="/product">Product</a>
        </li>
        <li>
          <a routerLink="/order">P.O.S</a>
        </li>
        <li>
          <a routerLink="/report">Report</a>
        </li>
        <li style="float: right; background: #eee;">
          <a routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>