<div *ngIf="!showDetail">
  <h3>List of Category</h3>
  <input type="button" value="Create" title="Create" (click)="onCreate()" />
  <table>
    <thead>
      <tr>
        <th>No.</th>
        <th>Initial</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories; let i = index;" id="tr-{{i + 1}}">
        <td>{{ i + 1 }}</td>
        <td class="initial">{{ category.initial }}</td>
        <td>{{ category.name }}</td>
        <td>
          <input type="button" title="Edit" value="Edit" (click)="onEdit(category._id)" />
          <input type="button" title="Delete" value="Delete" (click)="onDelete(category._id)" />
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="showDetail">
  <h4>{{ business }}</h4>
  <form>
    Initial:<br>
    <input type="text" [(ngModel)]="category.initial" name="initial"><br>
    Name:<br>
    <input type="text" [(ngModel)]="category.name" name="name"><br>
    <input type="submit" value="Submit"/>
    <input type="button" value="Cancel" (click)="onCancel()"/>
  </form>
</div>

<span>{{ category | json }}</span>