<div class="progress" *ngIf="onProgress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0"
    aria-valuemax="100" style="width: 100%">
  </div>
</div>
<h3>{{ title }}</h3>
<input type="button" value="Add Item" class="btn btn-success" (click)="addItem(template)"> &nbsp;
<input type="button" value="New Transaction" class="btn btn-danger" (click)="newTransaction()"> &nbsp;
<input type="button" value="Payments" class="btn btn-primary" (click)="openPayment(template)"> &nbsp;
<input type="text" value="{{totalAmount}}" style="width: 200px; padding: 0 10px; height: 30px; border-radius: 3px; border: 1px solid #e0e0e0"
  disabled>
<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Amount</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of orderProducts; let i=index;">
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>
        <input type="text" [(ngModel)]="product.qty" (keyup)="ngOnChange($event, i, product.price)" value="{{totals}}"
          style="width: 200px; padding: 0 10px; height: 30px; border-radius: 3px; border: 1px solid #e0e0e0">
      </td>
      <td>
        <input type="text" (keyup)="onChangeAmount(products)" value="{{product.total || 0}}" style="width: 200px; padding: 0 10px; height: 30px; border-radius: 3px; border: 1px solid #e0e0e0"
          disabled>
      </td>
      <td>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-danger" title="Delete" (click)="onDelete(i)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ business }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="isAddItem;">
    <input type="search" style="width: 100%; padding: 0 10px; height: 30px; border-radius: 3px; border: 1px solid #e0e0e0"
      placeholder="Search product..." (keyup)="searchProduct($event)" />

    <table class="table">
      <thead>
        <tr>
          <th style="width: 10%">Select</th>
          <th style="width: 70%">Product</th>
          <th style="width: 20%; text-align: right">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td style="padding-left: 16px;">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true" style="background: #00b300; padding: 10px; color: #ffffff; border-radius: 3px; cursor: pointer;"
              (click)="addProduct(product)">
            </span>
          </td>
          <td>{{product.name}}</td>
          <td style="text-align:right">{{setFormat(product.price)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-body" *ngIf="isPayment;">
    <div class="form-horizontal">
        <div class="form-group" *ngIf="refNumber">
            <label for="initial" class="control-label col-md-3">Ref. Number</label>
            <div class="col-md-9">
              <input type="text"value="{{refNumber}}" name="intial" class="form-control text-box single-line" disabled>
            </div>
          </div>
      <div class="form-group">
        <label for="initial" class="control-label col-md-3">Pay</label>
        <div class="col-md-9">
          <input type="text" (keyup)="addPayment($event)" value="{{totalPay}}" name="intial" class="form-control text-box single-line"
            [disabled]="refNumber">
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="control-label col-md-3">Total</label>
        <div class="col-md-9">
          <input type="text" value="{{totalAmount || 0}}" name="name" class="form-control text-box single-line"
            disabled>
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="control-label col-md-3">Change</label>
        <div class="col-md-9">
          <input type="text" value="{{totalChange}}" name="name" class="form-control text-box single-line" disabled>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style="text-align:right">
          <input type="button" value="Cancel" class="btn btn-default" (click)="closePayment()">&nbsp;
          <input type="button" value="Payment" class="btn btn-primary" (click)="payNow()"  [disabled]="refNumber">
        </div>
      </div>
    </div>
  </div>
</ng-template>