
div.input-group{
    float: right
}
.input.search{
    height: 35px;
    border: 1px solid #e0e0e0;
    padding: 0 5px;
    border-radius: 5px 0 0 5px;
    outline: none
}

.input.search:focus{
    border: 1px solid #cccccc
}

input.btn-search{
    height: 35px;
    background: #449d44;
    border: 1px solid #39843b;
    color: #fafafa;
    border-radius: 0 5px 5px 0;

}